html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $main-background-color;
}

html,
body,
.main-container {
  height: 100%;
}

a {
  color: $link-color;
}

@import "_typography.scss";
@import "_forms.scss";
