$double-text-input-label-line-height: 1.2;

.double-text-input {
  @include clearfix;

  label {
    @extend h4;
    @include medium-spacing(margin-bottom);
    line-height: $double-text-input-label-line-height;
    color: $less-dark-black-color;
  }

  input[type=text],
  select,
  option,
  button {
    @extend h3;
    @include medium-spacing(padding);
    margin-bottom: 0;
    max-width: 100%;
    /* border: 0; */
    /* border-bottom: 1px $default-border-color solid; */
    /* margin-right: $medium-spacing; */
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  @include breakpoint($small-medium-bp-query) {
    .input-wrap {
      margin-bottom: $large-spacing;
    }
  }

  @include breakpoint($large-bp-query) {
    .input-wrap {
      float: left;

      button {
        margin-top: $alpha-font-size * $double-text-input-label-line-height + $medium-spacing;
      }

      &:first-of-type {
        input[type=text],
        select,
        button {
          @include border-right-radius(0px);
        }
      }

      &:last-of-type {
        margin-left: -$default-border-size;
        input[type=text],
        select,
        button {
          @include border-left-radius(0px);
        }
      }

      &:not(:first-of-type):not(:last-of-type) {
        margin-left: -$default-border-size;
        input[type=text],
        select,
        button {
          border-radius: 0;
        }
      }
    }

    .input-wrap {
      width: 27%;
      input[type=text],
      select,
      option,
      button {
        width: 100%;
      }
    }

    .to-language-input-wrap,
    .from-language-input-wrap {
      width: 13%;
    }

    .go-input-wrap {
      width: 20%;
    }
  }
}
