$double-text-input-label-line-height: 1.2;

.double-text-input {
  @include clearfix;

  .input-wrap {
    position: relative;
  }

  label {
    z-index: 1;
    font-size: ms(0);
    margin: 0;
    position: absolute;
    left: 1rem;
    top: -( ms(0) * $double-text-input-label-line-height ) / 2;
    background: white;
    line-height: $double-text-input-label-line-height;
    color: #444;
    padding-left: $small-spacing;
    padding-right: $small-spacing;
  }

  input[type=text],
  select,
  option,
  button {
    @extend h3;
    @include medium-spacing(padding);
    @include default-border;
    margin-bottom: 0;
    max-width: 100%;
    background: $main-background-color;
    /* border: 0; */
    /* margin-right: $medium-spacing; */
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .select-container {
    position: relative;
    width: 100%;
    float: left;

    &:after {
      @extend h4;
      font-family: "icomoon";
      content: "\e600";
      pointer-events: none;
      position: absolute;
      right: $small-spacing;
      top: 50%;
      margin-top: ms(1) / -2;
    }
  }

  @include breakpoint($small-medium-bp-query) {
    width: 100%;

    input[type=text],
    select,
    option,
    button {
      width: 100%;
    }

    .input-wrap {
      margin-bottom: $large-spacing;
      float: left;
      clear: left;
      max-width: 100%;
      width: 100%;
    }
  }

  @include breakpoint($large-bp-query) {
    .input-wrap {
      float: left;

      &:first-of-type {
        input[type=text],
        select,
        button {
          @include border-right-radius(0px);
        }
      }

      &:last-of-type {
        margin-left: -$default-border-size;
        input[type=text],
        select,
        button {
          @include border-left-radius(0px);
        }
      }

      &:not(:first-of-type):not(:last-of-type) {
        margin-left: -$default-border-size;
        input[type=text],
        select,
        button {
          border-radius: 0;
        }
      }
    }

    .input-wrap {
      width: 24%;
      input[type=text],
      select,
      option,
      button {
        width: 100%;
      }
    }

    .to-language-input-wrap,
    .from-language-input-wrap {
      width: 16%;
    }

    .go-input-wrap {
      width: 20%;
    }
  }
}
