.hero-header {
  @include $extra-large-spacing(padding);
  padding-right: 0;
  padding-left: 0;
  background-image: url("../images/dictionary.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: $white-color;

  .hero-headline {
    @extend h1;
  }

  .hero-tagline {
    @extend h4;
  }
}
