.site-bar {
  @include clearfix;
  background-color: $main-bar-background-color;
  padding: $medium-spacing 0;

  nav {
    float: right;
  }
}

.site-bar-nav-links,
.site-bar-logo {
  line-height: 1;
  margin: 0;
  padding: 0;
}

.site-bar-nav-links {
  line-height: strip-units($alpha-font-size);

  a {
    color: $white-color;
  }
}

.site-bar-logo {
  font-size: $alpha-font-size;
  float: left;
  color: $main-bar-color;
}

