.hero-image {
  max-height: 70%;
  max-width: 70%;
  transform: rotate(40deg);
  margin-left: 5rem;
}

.hero-copy {
  h1 {
    font-size: 6rem;
    white-space: nowrap;
  }
}

.hero-tagline {
  margin-bottom: 0;
}

.site-bar {
  @include clearfix;
  background-color: $main-bar-background-color;
  padding: 1rem;

  nav {
    float: right;
  }
}

.site-bar-nav-links {
  vertical-align: middle;
}

.site-bar-logo {
  @extend h4;
  float: left;
  color: lighten( $main-bar-color, 80% );
  margin-bottom: 0;
}

.main {
  @include clearfix;
  background-color: white;
  overflow: hidden;
}
