.site-bar {
  @include clearfix;
  background-color: $main-bar-background-color;
  padding: 1rem;

  nav {
    float: right;
  }
}

.site-bar-nav-links {
  vertical-align: middle;
}

.site-bar-logo {
  @extend h4;
  float: left;
  color: lighten( $main-bar-color, 80% );
  margin-bottom: 0;
}

.main {
  @include clearfix;
  background-color: white;
  overflow: hidden;
}

.hero-callout input {
  border-radius: 3px;
  border: 2px #2E282A solid;
}
