.huge-callout {
  /* position: relative; */
  /* height: 100%; */
  /* overflow: hidden; */
  /* background-position: center; */
  /* -webkit-background-size: cover; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* z-index: 1; */
}

.hero-image {
  max-height: 80%;
  max-width: 80%;
  transform: rotate(40deg);
}
