$white-color: #fff;
$dark-black-color: #252525;
$less-dark-black-color: #666;

$default-border-color: $dark-black-color;

$main-bar-background-color: $dark-black-color;
$main-bar-color: $white-color;
