$default-border-radius: 5px;
$default-border-size: 1px;

$bp1: 700px;
$bp2: 1160px;

$small-bp-query: max-width $bp1;
$medium-bp-query: ($bp1 + 1px) ($bp2 - 1px);
$small-medium-bp-query: max-width $bp1, ($bp1 + 1px) ($bp2 - 1px);
$large-bp-query: $bp2;
